<!-- Footer Container -->
<div class="footer-container">

    <!-- Footer Item Container -->

    <!-- Three Column Layout -->
    <!-- Left Footer Item -->
    <div class="footer-item-container left-footer-item">
        <!-- Basic Information -->
        <p>Khiem Nguyen</p>
        <p>Software Engineer</p>
        <p>Civil Engineer, P.E.</p>

    </div>

    <!-- Center Footer Item -->
    <!-- Personal ontacts -->
    <div class="footer-item-container center-footer-item">
        <p>Contacts</p>
        <p>410 - 900 - 3533</p>
        <p>khnguyen88@gmail.com</p>
    </div>

    <!-- Right Footer Item -->
    <!-- Personal Links -->
    <div class="footer-item-container right-footer-item">
        <p>Personal Links</p>
        <a href="http://"><fa-icon [icon]="['fab', 'github']"></fa-icon></a>
        <a href="http://"><fa-icon [icon]="['fab', 'linkedin']"></fa-icon></a>
        <a href="http://"><fa-icon [icon]="['fab', 'instagram']"></fa-icon></a>
        <a href="http://"><fa-icon [icon]="['fab', 'youtube']"></fa-icon></a>
    </div>
</div>