<!-- Footer Container -->
<div class="navbar-dark bg-dark footer-container">

    <!-- Footer Item Container -->

    <!-- Three Column Layout -->
    <!-- Left Footer Item -->
    <div class="footer-item-container left-footer-item">
        <!-- Basic Information -->
        <p class="footer-section-header">{{footerPersonalInfo.name}}</p>
        <p class="footer-item-hideable">{{footerPersonalInfo.profession1}}</p>
        <p class="footer-item-hideable">{{footerPersonalInfo.profession2}}</p>

    </div>

    <!-- Center Footer Item -->
    <!-- Personal ontacts -->
    <div class="footer-item-container center-footer-item">
        <p class="footer-section-header footer-item-hideable">{{footerContactInfo.header}}</p>
        <p class="footer-item-hideable">{{footerContactInfo.phoneNumber}}</p>
        <p>{{footerContactInfo.emailAddress}}</p>
    </div>

    <!-- Right Footer Item -->
    <!-- Personal Links -->
    <!-- Utilizes Angular's ngFor directive to loop through an object array assigned to the footerPersonalLinks.links property -->
    <!-- Use retrieved information to populate the Font Awesome Icon components' "icon" property and the anchor elements
         "href" and "alt" attributes -->
    <div class="footer-item-container right-footer-item">
        <p class="footer-section-header footer-item-hideable">{{footerPersonalLinks.header}}</p>
        <div class="icons-container">
            <a *ngFor="let link of footerPersonalLinks.links" [href]="link.url" alt="'Link to my personal '+ link.name + ' account.'" target="_blank">
                <fa-icon [icon]="link.fontAwesomeIcon" class="colorme" size="lg"></fa-icon>
            </a>
        </div>
    </div>
</div>