<nav class="navbar navbar-expand-md sticky-top navbar-dark bg-dark ">
    <div class="container-fluid">
        <a class="navbar-brand" >Khiem H. Nguyen</a>
        <button class="navbar-toggler" type="button" (click)="isMenuCollapsed = !isMenuCollapsed">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse justify-content-end" [ngbCollapse]="isMenuCollapsed">
            <div class="navbar-nav">
                <a *ngFor="let item of menuItems" class="nav-link" [routerLink]="item.route" [routerLinkActive]="['active']" (click)="isMenuCollapsed = true">{{item.label}}</a>
            </div>
        </div>
      </div>
  </nav>