<!-- Page Container -->
<div class="gallery-container">
    <!-- Page Header -->
    <h1 class="gallery-header">Gallery</h1>


    <div class="gallery-button">

        <!-- Special Button to Shuffle Gallery Images Around -->
        <!-- Utilized Angular's Event Binding, to bind the button's click event to the onClickShuffle() method, which shuffles the galleryData -->
        <button type="button" class="btn btn-primary" (click)="onClickShuffle()">
            Shuffle Gallery
        </button>
    </div>
    <br>

    <!-- Gallery Item Container -->
    <div class="gallery-items-container">

        <!-- Gallery Images -->
        <!-- Utilizes Angular's ngFor directive to loop through nest object arrays assigned to the imageGallery property -->
        <!-- Used to retrieve information to populate the image elements' source and alternative text attributes -->
        <!-- Setting the angular image element' loading attribute to "lazy" enables lazy loading for images -->
        <!-- Uses Boostrap Card Classes -->
        <div class="card gallery-item" *ngFor="let image of imageGallery">
                <div class="card-body">
                    <img class="card-img-top" 
                        [src]="baseImageAssetDirectory + image.folder + '/' + image.filename"
                        [alt]="'Image Tag: ' + image.tag + '. Description:  ' + image.description + '.'"
                        loading="lazy" />
                </div>
        </div>

    </div>
</div>